/* GENERAL */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

:root {
    --main-color: -webkit-linear-gradient(180deg, #15B9B9 0%, #3C1DFF 100%);
    --2nd-main-color: #ffffffcc;
    --text-color: #fff;
    --big-font: 4.5rem;
    --h2-font: 1.9rem;
    --p-font: 1rem;
}

.container {
    max-width: 960px;
    margin: auto;
    width: 100%;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

#logo {
    font-size: 1.5rem;
    font-weight: 600;
    width: 37px;
    height: 37px;
}

.navbar {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

#link {
    font-size: 0.9rem;
    padding: 4px 8px;
    color: var(--text-color);
}

#link:hover {
    color: var(--text-color);
    background: var(--main-color);
    transition: 0.3s all linear;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}

.menu-icon div {
    display: block;
    background: white;
    height: 2px;
    width: 24px;
    transition: 0.3s;
}

.move .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.move .line2 {
    opacity: 0;
}

.move .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}




/* Section */
section {
    padding: 3rem 0 2rem;
    position: fixed;
    background: #000 url("../img/bg.png") top right no-repeat;
    left: 0;
    background-size: cover;
    right: 0;
    top: 0;
    height: 700px;
    z-index: -1;
}

.uyi {
    font-size: var(--big-font);
    font-weight: bolder;
    background: -webkit-linear-gradient(180deg, #15B9B9 0%, #3C1DFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1px;
    margin-bottom: -15px;
}

.one-parent {
    display: flex;
    justify-content: center;
}

.one-parent>.one {
    height: 8px;
    width: 400px;
    border-radius: 2px;
    background: -webkit-linear-gradient(180deg, #15B9B9 0%, #3C1DFF 100%);
    opacity: 1;
    margin-bottom: 20px;
    margin-right: 10px;
}

.full {
    /* background: #202020; */
    position: relative;
    z-index: 2;
    color: var(--text-color);
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.full::after {
    content: "Full Stack Developer & UI/UX Designer";
    position: absolute;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    color: transparent;
    left: 6px;
    top: 6px;
    opacity: 0.1;
    font-size: 50px;
    font-weight: bold;
}

.home-text h4 {
    color: #8F8F8FA3;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 27px;
    letter-spacing: 0.5px;
}

#btn {
    background: var(--main-color);
    border: none;
    border-radius: 6px;
    height: 49px;
    width: 181px;
}