@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&family=Jost:wght@300;400;500;600&display=swap');

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: #344ee5;
    --navbar: #fff;
    --box-shadow-navbar: rgba(100, 100, 100, 0.3);
    --logo-other: #000000;
    --section-title: #1e1e1e;
    --h1-before: #414040;
    --h-s-p: #ffffff;
    --A-S-C: #E3E3E3;
    --full-text: #000000;
    --home-p: rgba(28, 27, 27, 0.69);
    --home-h3: #686868;
    --bx-icon: #fff;
    --bx: #353535;
    --hover: #647bff;
    --abt-foot: #444444;
    --heading-text: #8D8D8D;
    --progress-text: #444444;
    --progress-bar: #F2F3F5;
    --services-head: #101010;
    --services-icon-box: #212121;
    --services-box: #fff;
    --services-p: #444444;
    --services-bx: #101010;
    --services-box-hover: #FFFFFF;
    --port-li: #fff;
    --port-li-bx: #353535;
    --port-wrap: rgba(255, 255, 255, 0.7);
    --port-wrap-items: #000;
    --port-wrap-line: #d7dce1;
    --contact-bg: #FFFFFF;
    --contact-shadow: rgba(0, 0, 0, 0.1);
    --contact-icon: #E2E3E8;
    --contact-icon-hover: #fff;
    --contact-info-h4: #45505b;
    --contact-info-p: #728394;
    --contact-label: #444444;
    --contact-input: #E2E2E2;
    --contact-input-placeholder: #000;
    --my-btn: #fff;
}

.light {
    --main-color: #344ee5;
    --navbar: #202020;
    --box-shadow-navbar: rgba(100, 100, 100, 0.3);
    --logo-other: #fff;
    --section-title: #ffffff;
    --h1-before: #ddd;
    --h-s-p: #040404;
    --A-S-C: #0D0D0D;
    --full-text: #fff;
    --home-p: rgba(143, 143, 143, 0.64);
    --home-h3: #fff;
    --bx-icon: #fff;
    --bx: #353535;
    --hover: #647bff;
    --abt-foot: #8f8f8f;
    --heading-text: #272727;
    --progress-text: #fff;
    --progress-bar: rgba(255, 255, 255, 0.2);
    --services-head: #fff;
    --services-icon-box: #fff;
    --services-box: #212121;
    --services-p: #d2d2d2;
    --services-bx: #fff;
    --services-box-hover: #212121;
    --port-li: #fff;
    --port-li-bx: rgba(255, 255, 255, 0.1);
    --port-wrap: rgba(0, 0, 0, 0.6);
    --port-wrap-items: #fff;
    --port-wrap-line: #fff;
    --contact-bg: #272727;
    --contact-shadow: rgba(0, 0, 0, 0.1);
    --contact-icon: #C9CBD4;
    --contact-icon-hover: #fff;
    --contact-info-h4: #fff;
    --contact-info-p: #DEDEDE;
    --contact-label: #c1c1c1;
    --contact-input: #343434;
    --contact-input-placeholder: #fff;
    --my-btn: #fff;
}

.animate__animated {
    --animate-duration: 1.5s;
}

.animate__animated {
    --animate-duration: 1.5s;
}

@media (min-width: 1024px) {
    body::before {
        background-attachment: fixed;
    }
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
#navBar {
    overflow: hidden;
    background-color: var(--navbar);
    padding-top: 2px;
    padding-bottom: 2px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 1px 2px 15px var(--box-shadow-navbar);
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

#navBar #logo {
    color: var(--logo-other);
    font-weight: 600;
    font-size: 40px;
    transition: 0.4s;
}

#navBar #logo:hover {
    color: var(--logo-other);
}

#navBar #logo span {
    color: var(--main-color);
}

#navBar .nav-item {
    position: relative;
    padding-right: 10px;
    padding-bottom: 8px;
    margin-left: 0;
}

#sun {
    height: 25px;
    width: 25px;
    cursor: pointer;
    margin-top: 8px;
    margin-left: 6px;
}

@media (min-width: 768px) {
    #navBar .nav-item {
        margin-left: 15px;
    }
}

.navbar .nav-link {
    padding-right: 0 !important;
    padding-left: 0 !important;
    font-size: 1rem;
    color: var(--logo-other);
    font-weight: 400;
    letter-spacing: 0.03em;
    transition: all 0.1s ease-in-out;
    position: relative;
}

#navBar .nav-link:before {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 0;
    background-color: var(--main-color);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out 0.3s;
}

#navBar .nav-link:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

#navBar .show>.nav-link:before,
#navBar .active>.nav-link:before,
#navBar .nav-link.show:before,
#navBar .nav-link.active:before {
    transform: scaleX(1);
}

#navBar .nav-link:before {
    background-color: var(--main-color);
}

#navBar .nav-link:hover {
    color: var(--logo-other);
}

#navBar .show>.nav-link,
#navBar .active>.nav-link,
#navBar .nav-link.show,
#navBar .nav-link.active {
    color: var(--logo-other);
}

/*------/ Hamburger Navbar /------*/
.navbar-toggler {
    position: relative;
}

nav button.navbar-toggler:focus,
nav button.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

.navbar-toggler span {
    display: block;
    background: var(--logo-other);
    height: 2px;
    width: 27px;
    margin-top: 6px;
    margin-bottom: 6px;
    transform: rotate(0deg);
    left: 0;
    opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
    transition: transform 0.35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 15px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    transform: rotate(-135deg);
    opacity: 0.9;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
.section-title {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 60px;
}

.section-title h1 {
    font-family: 'Rokkitt';
    font-size: 2.8rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 5px;
    position: relative;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: var(--section-title);
}

.section-title h1::before {
    content: "";
    position: absolute;
    display: block;
    width: 130px;
    height: 1px;
    background: var(--h1-before);
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--main-color);
    bottom: 0;
    left: calc(50% - 20px);
}

/* MEDIA QUERRIS SKILLS */
@media only screen and (max-width: 768px) {

    .section-title h1 {
        font-size: 2.7rem;
    }
}

@media only screen and (max-width: 425px) {

    .section-title h1 {
        font-size: 2.4rem;
    }
}

@media only screen and (max-width: 375px) {

    .section-title h1 {
        font-size: 2.1rem;
    }
}

@media only screen and (max-width: 320px) {

    .section-title h1 {
        font-size: 1.9rem;
    }
}


/*--------------------------------------------------------------
# Hero 
--------------------------------------------------------------*/
#home {
    background: var(--h-s-p);
    height: 100vh;
}

.home-container {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-img .profile {
    width: 18rem;
    height: 18rem;
    margin-bottom: 0.938rem;
    margin-top: 6.5rem;
}

.hero .hero-content {
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.display-table {
    width: 100%;
    height: 100%;
    display: table;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#home h3 {
    font-family: 'El Messiri', sans-serif;
    position: relative;
    align-items: center;
    font-size: 1.5rem;
    color: var(--home-h3);
}

#home .uyi {
    font-family: 'Rokkitt', serif;
    text-transform: capitalize;
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--main-color);
    letter-spacing: 0.063rem;
    margin-top: -15px;
    margin-bottom: -0.5rem;
}

.full {
    position: relative;
    z-index: 2;
    color: var(--full-text);
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 10px;
}

#home p {
    color: var(--home-p);
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    letter-spacing: 0.4px;
    text-align: center;
}

.social {
    align-items: center;
    word-spacing: 0.5rem;
    margin-top: -0.625rem;
    margin-bottom: 0.938rem;
}

.social .bx {
    font-size: 1.3rem;
    padding: 0.625rem;
    border-radius: 50%;
    color: var(--services-bx);
    border: 1.5px solid var(--bx);
}

.social .bx:hover {
    background: var(--main-color);
    transition: 0.3s all linear;
    border-color: var(--main-color);
    color: var(--port-li);
}

.button {
    border-radius: 0.350rem;
    background: var(--main-color);
    border: none;
    color: var(--bx-icon);
    text-align: center;
    height: 45px;
    width: 165px;
    transition: all 0.4s;
    cursor: pointer;
    margin-bottom: 2.5rem;
}

.button:hover {
    background: var(--hover);
}

/* MEDIA QUERRIS HOME */
@media only screen and (max-width: 768px) {
    #home .uyi {
        font-size: 2.3rem;
    }

    .full {
        font-size: 2.3rem;
    }

    .home-img .profile {
        width: 17.813rem;
        height: 17.813rem;
    }

    .home p {
        font-size: 1.1rem;
    }

    .social .bx {
        font-size: 1.3rem;
    }

    .button {
        border-radius: 0.330rem;
        font-size: 14px;
        height: 40px;
        width: 160px;
        text-align: center;
    }
}

@media only screen and (max-width: 425px) {
    #home .uyi {
        font-size: 2.2rem;
    }

    .full {
        font-size: 1.6rem;
    }

    .home-img .profile {
        width: 16.875rem;
        height: 16.875rem;
    }

    .home p {
        font-size: 1rem;
    }

    .social .bx {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 375px) {
    #home .uyi {
        font-size: 2.1rem;
    }

    .full {
        font-size: 1.5rem;
    }

    .home-img .profile {
        width: 16.875rem;
        height: 16.875rem;
    }

    .home p {
        font-size: 0.8rem;
    }

    .social .bx {
        font-size: 1.2rem;
    }

    .button {
        border-radius: 0.300rem;
        font-size: 13px;
    }
}

@media only screen and (max-width: 320px) {
    #home .uyi {
        font-size: 2rem;
    }

    .full {
        font-size: 1.4rem;
    }

    .home-img .profile {
        width: 16.25rem;
        height: 16.25rem;
    }

    .home p {
        font-size: 0.7rem;
    }

    .social .bx {
        font-size: 1rem;
    }

    .button {
        border-radius: 0.290rem;
        font-size: 13px;
        height: 37px;
        width: 140px;
        text-align: center;
    }
}

/* About */
#about {
    background-color: var(--A-S-C);
}

.abme {
    color: var(--abt-foot);
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.030rem;
    text-align: center;
}

div .abme .tcolor {
    color: var(--main-color);
}

.heading {
    font-size: 4.5rem;
    text-transform: uppercase;
    color: var(--heading-text);
    text-align: right;
    font-weight: bold;
}

.heading2 {
    font-size: 4.5rem;
    text-transform: uppercase;
    color: var(--heading-text);
    text-align: left;
    font-weight: bold;
}

/* MEDIA QUERRIS ABOUT */
@media only screen and (max-width: 768px) {

    .heading {
        font-size: 4rem;
    }

    .heading2 {
        font-size: 4rem;
    }

    .abme {
        font-size: 1.05rem;
        font-weight: 400;
        letter-spacing: 0.030rem;
    }
}

@media only screen and (max-width: 425px) {

    .heading {
        font-size: 3.5rem;
    }

    .heading2 {
        font-size: 3.5rem;
    }

    .abme {
        font-size: 0.9rem;
        font-weight: 400;
        letter-spacing: 0.030rem;
    }
}

@media only screen and (max-width: 375px) {

    .heading {
        font-size: 3rem;
    }

    .heading2 {
        font-size: 3rem;
    }

    .abme {
        font-size: 0.7rem;
        font-weight: 400;
        letter-spacing: 0.030rem;
    }
}

@media only screen and (max-width: 320px) {

    .heading {
        font-size: 2.5rem;
    }

    .heading2 {
        font-size: 2.5rem;
    }

    .abme {
        font-size: 0.6rem;
        font-weight: 400;
        letter-spacing: 0.030rem;
    }
}

/* Skills */
#skills {
    background-color: var(--h-s-p);
    margin-top: -8px;
}

.skills {
    padding-bottom: 60px;
}

#skills .progress {
    height: 50px;
    display: block;
    background: none;
}

#skills .progress .skill {
    padding: 10px 0;
    margin: 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    color: var(--progress-text);
}

#skills .progress .skill .val {
    float: right;
    font-size: normal;
}

#skills .progress-bar-wrap {
    background: var(--progress-bar);
    border-radius: 10px;
}

#skills .progress-bar {
    width: 2px;
    height: 10px;
    transition: 0.9s;
    background-color: var(--main-color);
    border: 10px;
    border-radius: 10px;
}


/* Services */
#services {
    background-color: var(--A-S-C);
}

.services {
    padding-bottom: 60px;
}

section div .text-tit {
    color: var(--services-head);
    text-align: center;
    margin-top: inherit;
    transition: all ease-in-out 0.2s;
}

.services .icon-box {
    transition: all ease-in-out 0.4s;
    border-radius: 10px;
    height: 320px;
    background: var(--services-box);
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    text-align: center;
    border-bottom: 3px solid var(--services-box);
    box-shadow: 0px 0 25px rgb(0 0 0 / 15%);
}

.services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
    color: var(--services-p);
    text-align: center;
}

.services .bx {
    font-size: 2rem;
    color: var(--services-bx);
    margin-top: -0.625rem;
    margin-bottom: 0.938rem;
    transition: all ease-in-out 0.4s;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    width: 55px;
    height: 55px;
    border: 1px solid var(--services-icon-box);
    border-radius: 50%;
}

.services .icon-box:hover {
    transform: translateY(-9px);
    background: var(--services-box-hover);
    border-color: var(--main-color);
    box-shadow: 0px 0 25px rgb(0 0 0 / 15%);
}

.services .icon-box:hover h4 {
    color: var(--main-color);
}

.services .icon-box:hover .bx {
    border-color: var(--main-color);
    transition: 0.3s all linear;
}

/* MEDIA QUERRIS SERVICES */
@media only screen and (max-width: 768px) {

    .services .icon-box {
        margin-bottom: -10px;
    }
}

/* Portfolio */
#portfolio {
    background-color: var(--h-s-p);
}

.portfolio {
    padding-bottom: 40px;
}


.portfolio .portfolio-item {
    margin-bottom: 30px;
}

.portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 15px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
    padding: 2px 15px;
}

.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px 10px 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: var(--port-li);
    background: var(--port-li-bx);
    margin: 0 3px 10px 3px;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.active-work {
    background: var(--main-color);
}

.portfolio #portfolio-flters li:last-child {
    margin-right: 0;
}

.portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: var(--port-wrap);
}

.portfolio .portfolio-wrap::before {
    content: "";
    background: var(--port-wrap);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    top: 35px;
    left: 35px;
    border-top: 3px solid var(--port-wrap-line);
    border-left: 3px solid var(--port-wrap-line);
    transition: all 0.5s ease 0s;
    z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-bottom: 3px solid var(--port-wrap-line);
    border-right: 3px solid var(--port-wrap-line);
    transition: all 0.5s ease 0s;
    z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: var(--port-wrap-items);
    font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
    color: var(--port-wrap-items);
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
    text-align: center;
    z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
    color: var(--port-wrap-items);
    margin: 0 2px;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
    color: var(--main-color);
}

.portfolio .portfolio-wrap:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
    top: 15px;
    left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
    bottom: 15px;
    right: 15px;
}

/* MEDIA QUERRIS PORTFOLIO */
@media only screen and (max-width: 425px) {

    .portfolio #portfolio-flters li {
        padding: 8px 16px 10px 16px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 375px) {

    .portfolio #portfolio-flters li {
        padding: 8px 16px 10px 16px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 320px) {

    .portfolio #portfolio-flters li {
        padding: 8px 16px 10px 16px;
        font-size: 12px;
    }
}

/* End portfolio */


/* Contact form */
#contact {
    background-color: var(--A-S-C);
}

.contact {
    padding-bottom: 60px;
}

.contact .info {
    border-top: 3px solid var(--main-color);
    border-bottom: 3px solid var(--main-color);
    padding: 30px;
    background: var(--contact-bg);
    width: 100%;
    box-shadow: 0 0 24px 0 var(--contact-shadow);
}

.contact .info i {
    font-size: 20px;
    color: var(--main-color);
    float: left;
    width: 44px;
    height: 44px;
    background: var(--contact-icon);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info i a:hover {
    background: var(--main-color);
    color: var(--contact-icon-hover);
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
    background: var(--main-color);
    color: var(--contact-icon-hover);
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--contact-info-h4);
}

.contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 350;
    color: var(--contact-info-p);
}

.contact .info .email p {
    padding-top: 5px;
}

/* Text Field */
.contact .contact-form {
    width: 100%;
    border-top: 3px solid var(--main-color);
    border-bottom: 3px solid var(--main-color);
    padding: 30px;
    background: var(--contact-bg);
    box-shadow: 0 0 24px 0 var(--contact-shadow);
}

.contact .contact-form .form-group {
    padding-bottom: 8px;
}

.contact .contact-form .form-group {
    margin-bottom: 20px;
}

.contact .contact-form label {
    padding-bottom: 8px;
    color: var(--contact-label);
}

.contact .contact-form input,
.contact .contact-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
}

.contact .contact-form input:focus,
.contact .contact-form textarea:focus {
    border: 1px solid var(--main-color);
    transition: 5ms all linear;

}

.contact .contact-form input {
    height: 44px;
    background: var(--contact-input);
    border: none;
    font-size: medium;
    color: var(--contact-input-placeholder);
}

.contact .contact-form textarea {
    padding: 10px 12px;
    background: var(--contact-input);
    font-size: medium;
    border: none;
    color: var(--contact-input-placeholder);
}

.butto {
    border-radius: 0.350rem;
    background-color: var(--main-color);
    border: none;
    color: var(--port-li);
    text-align: center;
    font-size: 16px;
    width: 167px;
    height: 46px;
    transition: all 0.4s;
    cursor: pointer;
    align-items: center;
}

.butto:hover {
    transform: translateX(5px);
    background: var(--hover);
}

/* MEDIA QUERRIS CONTACT */
@media only screen and (max-width: 768px) {

    .butto {
        border-radius: 0.330rem;
        font-size: 15px;
        height: 41px;
        width: 160px;
        text-align: center;
    }
}

@media only screen and (max-width: 425px) {

    .butto {
        border-radius: 0.310rem;
        font-size: 14px;
        height: 38px;
        width: 150px;
        text-align: center;
    }
}

@media only screen and (max-width: 375px) {

    .butto {
        border-radius: 0.300rem;
        font-size: 13px;
        height: 33px;
        width: 145px;
        text-align: center;
    }
}

@media only screen and (max-width: 320px) {

    .butto {
        border-radius: 0.290rem;
        font-size: 13px;
        height: 30px;
        width: 140px;
        text-align: center;
    }
}


/* Footer */
#copyR {
    background-color: var(--h-s-p);
    padding: 20px;
}

.copyR p {
    margin: 0;
    color: var(--abt-foot);
    font-size: 15px;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.4s;
    border: none;
    outline: none;
    background-color: var(--main-color);
    color: var(--my-btn);
    cursor: pointer;
    margin-bottom: -13px;
}

#myBtn i {
    font-size: 22px;
    color: var(--my-btn);
    line-height: 0;
    text-align: center;
}

#myBtn:hover {
    background-color: var(--hover);
}